{
  "presets": [
    [
      "env", {
        "modules": false,
        "targets": {
          "browsers": ["> 1%", "last 2 versions", "not ie <= 8"]
        },
        "plugins": ["transform-vue-jsx", "transform-runtime"]
      }
    ],
    "stage-2"
  ],
  "env": {
    "test": {
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  }  
}
