<!DOCTYPE html>
<html>

<head>
    <meta content="text/html;charset=UTF-8" />
    <meta charset="utf-8" />
    <title>Netshoes Front end Recruiment</title>
    <link rel="icon" type="image/png" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta content="Netshoes Front end Recruiment" name="description" />
    <meta content="Vitor Matsumura" name="author" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <!-- TODO -->
    <link href="temp.css" rel="stylesheet">

    <body>
        <div class="row">
            <div class='main-app col-xs-12' data-js="app"></div>
            <div class='main-app col-xs-12'>
                <div class="catalogo center-xs">
                    <ul class="col-xs-12 row">
                        <li class="catalogo__item col-xs-4 center-xs">
                            <figure>
                                <img src="img/calcao-nike-corinthians.jpg" alt="" />
                            </figure>
                            <h4 class="titulo">Camiseta do Corinthians </h4>
                            <div class="preco">
                                <span class="moeda">R$</span>
                                <span class="valor">150,</span>
                                <span class="centavos">00</span>
                            </div>
                            <p class="parcelamento">
                                <span class="descriacao">ou 3 x </span>
                                <span class="moeda">R$</span>
                                <span class="valor">25,00</span>
                            </p>
                        </li>
                        <li class="catalogo__item col-xs-4 center-xs">
                            <figure>
                                <img src="img/calcao-nike-corinthians.jpg" alt="" />
                            </figure>
                            <h4 class="titulo">Camiseta do Corinthians </h4>
                            <div class="preco">
                                <span class="moeda">R$</span>
                                <span class="valor">150,</span>
                                <span class="centavos">00</span>
                            </div>
                            <p class="parcelamento">
                                <span class="descriacao">ou 3 x </span>
                                <span class="moeda">R$</span>
                                <span class="valor">25,00</span>
                            </p>
                        </li>
                        <li class="catalogo__item col-xs-4 center-xs">
                            <figure>
                                <img src="img/calcao-nike-corinthians.jpg" alt="" />
                            </figure>
                            <h4 class="titulo">Camiseta do Corinthians </h4>
                            <div class="preco">
                                <span class="moeda">R$</span>
                                <span class="valor">150,</span>
                                <span class="centavos">00</span>
                            </div>
                            <p class="parcelamento">
                                <span class="descriacao">ou 3 x </span>
                                <span class="moeda">R$</span>
                                <span class="valor">25,00</span>
                            </p>
                        </li>
                        <li class="catalogo__item col-xs-4 center-xs">
                            <figure>
                                <img src="img/calcao-nike-corinthians.jpg" alt="" />
                            </figure>
                            <h4 class="titulo">Camiseta do Corinthians </h4>
                            <div class="preco">
                                <span class="moeda">R$</span>
                                <span class="valor">150,</span>
                                <span class="centavos">00</span>
                            </div>
                            <p class="parcelamento">
                                <span class="descriacao">ou 3 x </span>
                                <span class="moeda">R$</span>
                                <span class="valor">25,00</span>
                            </p>
                        </li>
                        <li class="catalogo__item col-xs-4 center-xs">
                            <figure>
                                <img src="img/calcao-nike-corinthians.jpg" alt="" />
                            </figure>
                            <h4 class="titulo">Camiseta do Corinthians </h4>
                            <div class="preco">
                                <span class="moeda">R$</span>
                                <span class="valor">150,</span>
                                <span class="centavos">00</span>
                            </div>
                            <p class="parcelamento">
                                <span class="descriacao">ou 3 x </span>
                                <span class="moeda">R$</span>
                                <span class="valor">25,00</span>
                            </p>
                        </li>
                        <li class="catalogo__item col-xs-4 center-xs">
                            <figure>
                                <img src="img/calcao-nike-corinthians.jpg" alt="" />
                            </figure>
                            <h4 class="titulo">Camiseta do Corinthians </h4>
                            <div class="preco">
                                <span class="moeda">R$</span>
                                <span class="valor">150,</span>
                                <span class="centavos">00</span>
                            </div>
                            <p class="parcelamento">
                                <span class="descriacao">ou 3 x </span>
                                <span class="moeda">R$</span>
                                <span class="valor">25,00</span>
                            </p>
                        </li>
                    </ul>
                    <div class="carrinho">
                        <div class="carrinho__cabecalho center-xs row">
                            <figure class="icone">
                                <img src="img/bag.svg" alt="SACOLA" />
                            </figure>
                            <div class="contador">3</div>
                            <div class="titulo">
                                <p>SACOLA</p>
                            </div>

                        </div>
                        <ul class="col-xs-12 carrinho__itens">
                            <li class="carrinho__item col-xs-12 row" data-id="154">
                                <figure class="thumb">
                                    <img src="img/calcao-nike-corinthians_thumb.jpg" alt="" />
                                </figure>
                                <div class="descricao col-xs-9">
                                    <div class="titulo">
                                        <p>Camiseta Corinthians muitcho loucaCamiseta Corinthians muitcho louca</p>
                                    </div>
                                    <div class="subtitulo">
                                        <p>GG | Preto e branco</p>
                                    </div>
                                    <div class="quantidade">
                                        <p>Quantidade: 2</p>
                                    </div>
                                </div>
                                <div class="direita">
                                    <span class="remover"></span>
                                    <div class="preco">
                                        <span class="moeda">R$</span>
                                        <span class="valor">150,</span>
                                        <span class="centavos">00</span>
                                    </div>
                                </div>
                            </li>
                            <li class="carrinho__item carrinho__item--remove col-xs-12 row" data-id="154">
                                <figure class="thumb">
                                    <img src="img/calcao-nike-corinthians_thumb.jpg" alt="" />
                                </figure>
                                <div class="descricao col-xs-9">
                                    <div class="titulo">
                                        <p>Camiseta Corinthians muitcho loucaCamiseta Corinthians muitcho louca</p>
                                    </div>
                                    <div class="subtitulo">
                                        <p>GG | Preto e branco</p>
                                    </div>
                                    <div class="quantidade">
                                        <p>Quantidade: 2</p>
                                    </div>
                                </div>
                                <div class="direita">
                                    <span class="remover"></span>
                                    <div class="preco">
                                        <span class="moeda">R$</span>
                                        <span class="valor">150,</span>
                                        <span class="centavos">00</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="carrinho__rodape">
                            <div class="subtotal">
                                <div class="titulo">
                                    <p>SUBTOTAL</p>
                                </div>
                                <div class="subtotal__info">
                                    <div class="preco">
                                        <span class="moeda">R$</span>
                                        <span class="valor">150,</span>
                                        <span class="centavos">00</span>
                                    </div>
                                    <p class="parcelamento">
                                        <span class="descricao">OU EM ATÉ 10 X</span>
                                        <span class="moeda">R$</span>
                                        <span class="valor">25,00</span>
                                    </p>
                                </div>
                            </div>
                            <div class="comprar">COMPRAR</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="pt-br.index.js"></script>
    </body>

</html>