* {
  margin: 0;
  padding: 0
}

.wrapper {
  max-width: 980px
}

.c-products {
  display: inline-block;

  &__current {
    color: #313135;
    font-size: 8px
  }

  &__installment {
    color: #999999;
    font-size: 14px
  }

  &__separation {
    display: block;
    height: 2px;
    width: 16px;
  }

  &__title {
    font-size: 14px
  }
}