@import '../../../scss/shared';

.btn-buy-container {
  margin-top: 30px;
}

.btn-buy {
  @include transition();
  @include open-sans-bold();
  background-color: black;
  border-radius   : 2px;
  box-shadow      : 0 2px 1px $darker-gray;
  border          : none;
  color           : white;
  font-size       : 14px;
  padding         : 12px 0;
  text-transform  : uppercase;
  width           : 100%;

  &:hover {
    color  : $light-gray;
    padding: 13px 0 11px;
  }
}