* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Open Sans';
  padding: 0; }

.wrapper {
  margin: 0 auto;
  max-width: 980px; }

.c-products__card {
  display: inline-block;
  text-align: center;
  margin: 30px 0.5%;
  width: 24%; }

.c-products__current {
  color: #313135;
  font-size: 8px; }

.c-products__installment {
  color: #999999;
  font-size: 14px; }

.c-products__image {
  display: block;
  height: auto;
  margin: 0 auto;
  width: 80%; }

.c-products__price {
  font-size: 18px; }

.c-products__separation {
  background-color: #ecc20f;
  border: none;
  display: block;
  height: 2px;
  margin: 10px auto;
  width: 16px; }

.c-products__title {
  font-size: 14px;
  margin-top: 15px; }

.c-cart {
  background-color: #1b1a20;
  display: none;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 40%; }
  .c-cart__bag {
    height: 140px;
    padding-top: 64px;
    text-align: center; }
  .c-cart__bag-title {
    color: #fff; }
  .c-cart__buy {
    background-color: #000;
    color: #fff;
    display: block;
    height: 50px;
    padding: 14px;
    font-weight: bold;
    font-size: 14px;
    margin: 0 auto;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    width: 95%; }
  .c-cart__card {
    border-top: 1px solid #000;
    display: block;
    height: 90px;
    padding: 2% 2.5%;
    width: 100%; }
  .c-cart__current {
    color: #313135;
    font-size: 8px; }
  .c-cart__container-value {
    display: inline-block;
    float: right;
    text-align: right; }
  .c-cart__installment {
    color: #999999;
    font-size: 14px; }
  .c-cart__installment-total {
    font-size: 12px;
    color: #444448; }
  .c-cart__info {
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle; }
  .c-cart__image {
    display: inline-block;
    height: 50px;
    vertical-align: middle;
    width: 50px; }
  .c-cart__itens {
    max-height: 350px;
    overflow-y: auto; }
  .c-cart__price {
    font-size: 18px; }
  .c-cart__qtd {
    color: #79797a;
    font-size: 12px; }
  .c-cart__separation {
    background-color: #ecc20f;
    border: none;
    display: inline-block;
    height: 2px;
    width: 16px; }
  .c-cart__size-color {
    color: #79797a;
    font-size: 12px; }
  .c-cart__subtotal {
    color: #5b5b5f;
    display: inline-block;
    font-size: 14px;
    vertical-align: top; }
  .c-cart__title {
    color: #ffffff;
    font-size: 14px;
    font-weight: bold; }
  .c-cart__total {
    height: 105px;
    padding: 40px 30px; }
  .c-cart__options {
    float: right;
    text-align: right;
    vertical-align: middle; }
  .c-cart__value-total {
    color: #ecc20f;
    font-size: 16px;
    font-weight: bold; }
