@import '../../styles/_var.scss';
@import '../../styles/_mixins.scss';
.price {
    color: $yellow;
    font-size: 14px;
    margin-top: 10px;
    strong {
        @include open-sans-bold();
    }
}

:global(#products) .price {
    color: $gray;
    font-size: 12px;
    margin-top: 8px;
    strong {
        @include open-sans-bold();
        font-size: 24px;
        position: relative;
        &:before {
            content: "";
            background-color: $yellow;
            display: block;
            height: 2px;
            left: 50%;
            margin-left: -7.5px;
            position: absolute;
            top: 0;
            width: 15px;
        }
    }
}

:global(#cart) {
     :global(.delete) .price {
        @include opacity(0.2);
        text-decoration: line-through;
    }
     :global(.conclude) .price {
        font-size: 24px;
    }
    .price {
        @include transition();
        color: $yellow;
        font-size: 14px;
        margin-top: 10px;
        strong {
            @include open-sans-bold();
        }
    }
}