// |------------------------------------------------------
// |------------------------------------------------------
// | Colors
// |------------------------------------------------------
// |------------------------------------------------------

$primary-color:	   #008af6;
$text-color: 	   #323232;
$title-color: 	   #d6d6d5;
$menu-color:	   #cccccc;
$white: 		   #ffffff;