$color-text: #333;

$bg-roxo-claro: #744e96;
$bg-roxo: #5a2d82;

$bg-branco: #FFF;

$bg-cinza-claro:#919193;
$bg-cinza: #7a7a7c;
$bg-cinza-medio: #1b1a20;

$bg-cinza-escuro: #0c0b10;
$bg-preto: #000;
$bg-amarelo-claro: #978950;
$bg-amarelo: #ecbe00;

$bg-amarelo-medio: #e4b701;

$bg-vermelho: #C00;

$bg-azul: #29abe1;

