@import '../../../scss/shared';

.cart-title {
  @include open-sans-bold();
  color         : white;
  font-size     : 24px;
  padding-bottom: 50px;
  padding-top   : 40px;
  text-transform: uppercase;
}

.bag {
  background  : url('./bag.svg') 0 0 no-repeat;
  display     : inline-block;
  height      : 40px;
  margin-right: 30px;
  position    : relative;
  width       : 34px;
  top         : 8px;
}

.total {
  @include open-sans-bold();
  background-color: $yellow;
  border-radius   : 50%;
  bottom          : -7px;
  color           : black;
  display         : inline-block;
  font-size       : 12px;
  height          : 20px;
  line-height     : 20px;
  position        : absolute;
  right           : -6px;
  width           : 20px;
}
