    @import '../../../styles/_less-mixins.less';
    .cart-title {
        .fontBold();
        color: white;
        font-size: 24px;
        padding-bottom: 50px;
        padding-left: 60px;
        padding-top: 40px;
        text-transform: uppercase;
    }

    .bag {
        background: url('\./bag.png') 0 0 no-repeat;
        height: 40px;
        width: 33px;
        position: relative;
        top: 32px;
        left: 65px;
    }

    .total-items {
        .fontBold();
        background-color: #dfbd00;
        color: black;
        border-radius: 50%;
        bottom: -8px;
        right: -8px;
        line-height: 23px;
        text-align: center;
        font-size: 13.8px;
        height: 24px;
        width: 24px;
        position: absolute;
    }

    .close {
        position: absolute;
        top: 40px;
        left: 40px;
        color: #999;
        cursor: pointer;
        &:before {
            content: "\2716";
            color: #999;
            font-weight: bolder;
        }
    }

    .close:hover {
        &:before {
            color: white;
        }
    }