.price {
    color: #313135;
    font-size: 0.875em;
    margin-top: 8px;
    strong {
        font-family: "Open Sans";
        font-weight: 600;
        font-size: 1.5em;
        position: relative;
        &:before {
            content: "";
            background-color: #dfbd00;
            display: block;
            height: 2px;
            left: 50%;
            margin-left: -25%;
            position: absolute;
            top: 0;
            width: 24px;
        }
    }
}