// Pallete
$gold: #dfbd00;
$light: #FFF;
$dark-grey: #131316;
$medium-grey: #202025;
$light-grey: #313135;
$gray:	#e5e5e5;


// Fonts
$openSansFamily: Bold BoldItalic ExtraBold ExtraBoldItalic Italic Light LightItalic Regular Semibold SemiboldItalic;