$spacing-xsm: 8px;
$spacing-sm: 16px;
$spacing-md: 24px;
$spacing-lg: 32px;
$spacing-xl: 40px;
$spacing-xxl: 60px;

$grey: #ccc;
$grey-second: #666;
$color-netshoes: #5a2d82;
$yellow: #DFBD00;

$color-third: #6d6d6d;
$color-secondary: #191919;
$color-primary: #313135;
$cart-background: #1F1F25;

$font-size-xsm: 14px;
$font-size-sm: 16px;
$font-size-md: 21px;
$font-size-lg: 14px;
$font-size-xlg: 30px;