.carrinho__rodape {
    .subtotal {
        position: relative;
        min-height: 100px;
        .titulo {
            position: absolute;
            top: 40px;
            left: 15px;
            font-size: 14px;
            color: #fff;
        }
    }
    .subtotal__info {
        .preco {
            position: absolute;
            top: 40px;
            right: 15px;
            font-size: 24px;
            color: #dfbd00;
            .valor {
                font-weight: bold;
            }
        }
        .parcelamento {
            position: absolute;
            top: 70px;
            right: 15px;
            font-size: 12px;
            color: #fff;
        }
    }
    .comprar {
        background-color: #000;
        height: 50px;
        line-height: 50px;
        margin: 20px;
        color: #fff;
        cursor: pointer;
    }
}
