    @import '../../../styles/_less-variables.less';
    .delete {
        margin: 0 1rem 1rem;
        .quantity {
            opacity: 0.2;
            text-decoration: line-through;
        }
        figure {
            opacity: 0.5;
        }
    }

    .image-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 90px;
    }