<header>
  <div class="container">
    <a [routerLink]="['/']" class="logo">
      <span>Netshoes - sem limites entre você e o esporte</span>
    </a>
    <div class="navigator">
      <a [routerLink]="['/checkout']">Carrinho</a>
    </div>
    <app-amount-badge *ngIf="currentUrl !== '/checkout' && amountTotal > 0" class="badge" [cartListItems]="cartListItems"></app-amount-badge>
  </div>
</header>

<div class="container">
  <div class="starter-template">
    <router-outlet></router-outlet>
  </div>
</div>
