:global {
    .product:hover .title {
        text-decoration: underline;
    }
    .title {
        color: #313135;
        font-size: 0.875em;
        margin-top: 8px;
    }
    .product {
        margin-bottom: 25px;
        cursor: pointer;
    }
}

.sticky {
    bottom: 0px;
}