<li class="product"
  [attr.bag]="activeBag"
  [attr.checkout]="activeCheckout">
  <div (click)="onClick($event)">
    <img
      class="product__image"
      alt="{{ alt }}"
      title="{{ title }}"
      src="../assets/products/{{ image }}"/>
    <div class="product__details-product">
      <p class="product__title">{{ title }}</p>
      <p class="product__amout" *ngIf="amount">Quantidade {{ amount }}</p>
      <p *ngIf="isFreeShipping" class="product__is-free">Frete grátis</p>
    </div>
    <div class="product__details-price">
      <p class="product__price">
        {{ price | currency: 'BRL':true:'1.2-2'}}
      </p>
      <p class="product__installments">
        {{ installments }}x {{ price / installments | currency: 'BRL':true:'1.2-2' }}
      </p>
      <p class="product__subtotal" *ngIf="amount">Subtotal: {{ subtotal | currency: 'BRL':true:'1.2-2'}}</p>
    </div>
    <p class="product__button-remove" *ngIf="removeCartItem">X</p>
  </div>
  <p (click)="onClickOne($event)" class="button-clik-one" *ngIf="!removeCartItem">Comprar com 1 clique</p>
</li>

