// |------------------------------------------------------
// |------------------------------------------------------
// | Layout
// |------------------------------------------------------
// |------------------------------------------------------

body {
	background-color: #E1E1E1;    
}

:global{
    .main-app{
        background-color: #fff;
        min-height: 100vh;
        margin: 0 auto;
        position: relative;
    }
}
