// |------------------------------------------------------
// |------------------------------------------------------
// | Layout
// |------------------------------------------------------
// |------------------------------------------------------

body {
	background-color: #E1E1E1;    
}

.wrapper {
	display: block;
    position: relative;
    max-width: $desktop;
	margin: 0 auto;
}