@import '../../../scss/shared';

:global(#cart) {

  :global(.delete) .size {
    @include opacity(0.2);
    text-decoration: line-through;
  }

  .size {
    @include open-sans-light();
    @include transition();
    color    : $light-gray;
    font-size: 12px;
  }
}